<!--The whole content below can be removed with the new code.-->
<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <img class="logo" src="http://placehold.it/64x64" />
      <!--<span style={{{paddingLeft: "1rem"}}}>Sample Blog</span>-->
    </div>
    <!--<Link prefetch href="/">-->
    <a class="item">Posts</a>
    <!--</Link>-->
  </div>
</div>
<div>
  <!--<div *ngFor="let hero of heroes"-->
      <!--[class.selected]="hero === selectedHero"-->
      <!--(click)="onSelect(hero)">-->
    <!--<span class="badge">{{hero.id}}</span> {{hero.name}}-->
  <!--</div>-->
  <app-post [post]="myPost"></app-post>
</div>

