<div class="comment">
  <a class="avatar">
    <img src={{comment.userImage}} />
  </a>
  <div class="content">
    <h4 class="title">
      {{comment.title}}
    </h4>
    <div class="text">
      {{comment.message}}
    </div>
    <div class="metadata" style="marginLeft: 0">
      <div>User: {{comment.user}}</div>
    </div>
  </div>
</div>