<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <img class="logo" src="http://placehold.it/64x64" />
      <span style="padding-left: 1rem">Sample Blog</span>
    </div>
    {{#link-to "index" class="item"}}Posts{{/link-to}}
  </div>
</div>